[Unit]
Description=Online Certificate Status Protocol daemon
After=syslog.target network-online.target

[Service]
Type=simple
User=root
EnvironmentFile=/etc/default/ocspd
ExecStart=/usr/bin/openssl ocsp -text -out $LOG_FILE -nmin $INTERVAL -port $PORT -index $INDEX_FILE -CA $CACHAIN_FILE -rkey $OCSPKEY_FILE -rsigner $OCSPCERT_FILE
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
